* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1110px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  border: 2px solid red;
}

.section--hero {
  padding: 2.5rem;
}

.hero--stats-wrap {
  display: flex;
  justify-content: space-between;
}

.hero--heading-primary {
  font-size: 36px;
}

.banner-image {
  display: block;
}

.section--banner {
  /* border: 3px solid red; */
  width: 100%;
  height: auto;
  background-image: linear-gradient(hsla(277, 64%, 61%, 0.698), hsla(277, 64%, 61%, 0.698)),
    url('../src/assets/images/image-header-desktop.jpg');
  background-repeat: no-repeat;
  background-position: cover;
}
