* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1110px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  /* border: 1px solid green; */
}

.section--hero {
  padding: 2.5rem;
}

.hero--stats-wrap {
  display: flex;
  justify-content: space-between;
}

.hero--heading-primary {
  font-size: 36px;
}

.banner-image {
  display: block;
}
